<a href="https://colab.research.google.com/github/srinugorla/Lucky/blob/master/Assignment6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Homework Assignment 4**

Names:
- Srinu Gorla [link to code base](https://github.com/srinugorla/INF502)
- Ramesh Sirigenedi [link to code base](https://github.com/Rs2774/inf502)

# Part 1 - getting and exploring data

 **Step 1 : importing pandas library**

In [3]:
import pandas as pd
# referencing the library name as 'pd'

**Step 2: importing the dataset from the given URL**

In [4]:
dataset= pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')

# read_csv function is used to imports a CSV file to a DataFrame format

**Step 3: Assign the dataset to a variable called users and use the user_id as the index**

In [5]:
# The set_index() method allows one or more column values become the row index.
users =dataset.set_index('user_id')

#           OR

# we can also specify which column number is used as index column while importing csv itself as below
# pnd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|',index_col=0)

**Step 4: See the first 25 entries**

In [ ]:
# The head() method returns a specified number of rows, string from the top

users.head(25)

# OR

# we can also use slicing operator

# users[:25]

**Step 5: See the last 10 entries**

In [ ]:
# tail() returns the last n rows

users.tail(10)

# OR 

# users[-10:]

**Step 6: What is the number of observations in the dataset?**

In [ ]:
# shape attribute in Pandas enables us to obtain the shape of a DataFrame. 
# For example, if a DataFrame has a shape of (40, 10) , this implies that the DataFrame is made up of 40 rows and 10 columns of data.
# index 0 return number of rows in the DaraFrame

users.shape[0]

**Step 7: What is the number of columns in the dataset?**

In [ ]:
# index 1 retuns number of columns in the DataFrame
users.shape[1]

**Step 8: Print the name of all the columns.**

In [ ]:
# .columns is used to get the column names(as an Index Object) from DataFrame, list() function is used to get it as list

list(users.columns)

**Step 9: How is the dataset indexed?**

In [ ]:
#write your code here

# users.index  ..........??????????????

**Step 10: What is the data type of each column?**

In [ ]:
# dtypes is used to get the data types of all the columns in a data frame
users.dtypes

**Step 11: Print only the occupation column**

In [ ]:
users.occupation

# OR

# users['occupation']

**Step 12: How many different occupations there are in this dataset?**

In [ ]:
#write your code here

# unique() is used to get the distinct values from the data frame
# len() is used to count each element in the given series

len(users.occupation.unique())

# OR
# we can use nunique() which returns the number of unique values for a given column.
# users.occupation.nunique()

**Step 13: What is the most frequent occupation?**

In [ ]:

# idxmax() method returns the index of the first occurrence of maximum in a column

users.occupation.value_counts().idxmax()

# OR
# we can also use mode() , which return the highest frequency value in a Series
# dataset.occupation.mode()[0]

**Step 14: Summarize the DataFrame.**

In [ ]:
# The info() method prints information about the DataFrame
users.info()

# By seeing the data we can say it has 942 rows and 4 columns[age , gender, occupation, zip_code]
# among them age coulmn is of type int64, and rest all are of object type
# every column consists of 943 not null values

**Step 15: Summarize all the columns**

In [ ]:
# The describe() function computes a summary of statistics
# This function gives the mean, std and IQR values.
dataset.describe(include='all')

**Step 16: Summarize only the occupation column**

In [ ]:
users.occupation.describe()
# By the output we can inspect that it has 943 entries
# 21 unique occupations
# most frequent occupation is student, 196 of 943 entries are students

**Step 17: What is the mean age of users?**

In [ ]:
# mean() function is used to get the average/mean of the values over the requested axis
users.age.mean()

**Step 18: What is the age with least occurrence?**

# Part 2 - Visualization with Chipotle's Data

**Step 1: Import the necessary libraries**

In [81]:
import pandas as pd
# referencing the library name as 'pd'

**Step 2: Import the dataset chipotle.tsv**

In [61]:
# read_csv function is used to imports a CSV file to a DataFrame format
chipotle_data= pd.read_csv('chipotle.tsv',sep='\t')

**Step 3: Assign it to a variable called `chipo`.**

In [62]:
# assigned the dataset to variable name 'chipo'
chipo = chipotle_data

**Step 4: Show the average of the column `item_price`**

In [ ]:
# mean() function is used to get the average/mean of the values over the requested axis
chipo.item_price.mean()

**Step 5: Count the number of occurrences for `"Chicken Bowl"`**

In [ ]:
# value_counts() return a series containing counts of unique rows in the DataFrame
# here we only want 'Chiken Bowl' so passing it as an index
chipo.item_name.value_counts()['Chicken Bowl']

# OR

# we can also loop throught item_name column and count the occurences using a temp variable
# cnt=0
# for i in chipo.item_name:
#   if i == 'Chicken Bowl':
#     cnt=cnt+1

# cnt

**Step 6: Count the number of items with ``NULL``as the `choice_description`**

In [74]:
# isna() function replaces all the NA with a boolean value True
# sum() is used to count all the true values
# isna().sum() returns the number of missing values in each column.

chipo.choice_description.isna().sum()

# OR
# len(chipo.choice_description) - chipo.choice_description.count()

# len() method counts all the values for a give series
# The count() method counts only the not empty values for a given series
# subtracting of these two will give only NULL values

1246

**Step 7: Show the first 10 entries**

In [ ]:
# The head() method returns a specified number of rows, string from the top

chipo.head(10)

# OR

# we can also use slicing operator

# chipo[:10]

**Step 8: Create a bar plot of the top 5 items bought**

In [ ]:
# here we are grouping the item_name by using groupby() method
# nlargest() method is used to get the specified number of rows, starting at the top after sorting based on given colum
top_5_items = chipo.groupby('item_name').sum().nlargest(5,'quantity')

# use_index value takes the index colum as a x-axis
top_5_items.plot.bar(y='quantity',use_index=True,color='orange')

**Step 9: Create a scatterplot with the number of items orderered per order price**

In [142]:
items_ordered= chipo.groupby('item_name').sum()

items_ordered

                                       order_id  quantity  item_price
item_name
6 Pack Soft Drink                         52322        55      356.95
Barbacoa Bowl                             53972        66      672.36
Barbacoa Burrito                          74718        91      894.75
Barbacoa Crispy Tacos                      5613        12      120.21
Barbacoa Salad Bowl                        9708        10      106.40
Barbacoa Soft Tacos                       18725        25      250.46
Bottled Water                            175944       211      302.56
Bowl                                        472         4       29.60
Burrito                                    1550         6       44.40
Canned Soda                               76396       126      137.34
Canned Soft Drink                        304753       351      438.75
Carnitas Bowl                             62742        71      736.71
Carnitas Burrito                          51652        60      597.83
Carnitas Crispy Tacos                      5868         8       77.96
Carnitas Salad                             1500         1        8.99
Carnitas Salad Bowl                        6693         6       66.34
Carnitas Soft Tacos                       37673        40      375.94
Chicken Bowl                             713926       761     7342.73
Chicken Burrito                          497303       591     5575.82
Chicken Crispy Tacos                      47382        50      472.13
Chicken Salad                             10465         9       81.09
Chicken Salad Bowl                       117104       123     1228.75
Chicken Soft Tacos                        98395       120     1108.09
Chips                                    208004       230      494.34
Chips and Fresh Tomato Salsa             100419       130      361.36
Chips and Guacamole                      449959       506     2201.04
Chips and Mild Fresh Tomato Salsa           279         1        3.00
Chips and Roasted Chili Corn Salsa        14999        23       67.85
Chips and Roasted Chili-Corn Salsa        17462        18       43.02
Chips and Tomatillo Green Chili Salsa     41170        45      132.75
Chips and Tomatillo Red Chili Salsa       45556        50      147.50
Chips and Tomatillo-Green Chili Salsa     21826        33       78.87
Chips and Tomatillo-Red Chili Salsa       18344        25       59.75
Crispy Tacos                                434         2       14.80
Izze                                      10587        20       67.80
Nantucket Nectar                          21814        29       98.31
Salad                                      1150         2       14.80
Side of Chips                             84769       110      185.90
Steak Bowl                               193752       221     2260.19
Steak Burrito                            328437       386     3851.43
Steak Crispy Tacos                        35818        36      357.34
Steak Salad                                2362         4       35.66
Steak Salad Bowl                          29590        31      343.59
Steak Soft Tacos                          50177        56      536.05
Veggie Bowl                               72270        87      867.99
Veggie Burrito                            80962        97      934.77
Veggie Crispy Tacos                         668         1        8.49
Veggie Salad                               7265         6       50.94
Veggie Salad Bowl                         17303        18      182.50
Veggie Soft Tacos                          5520         8       73.96