<a href="https://colab.research.google.com/github/srinugorla/Lucky/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas
cpr = pandas.read_csv("commits_pr.csv")

In [4]:
cpr.head()

    user   project_name prog_lang  pull_req_number  num_commits
0  user1        php-src         C              122            1
1  user2    activeadmin      ruby             3325            1
2  user3  YouCompleteMe    python             2128            2
3  user4       requests    python             2663            1
4  user5        ipython    python             7901            1

In [5]:
cpr.tail()

            user project_name   prog_lang  pull_req_number  num_commits
42087  user36933         node  javascript            14285            1
42088  user36934        react  javascript             8762            2
42089  user36934        rails        ruby            27508            1
42090  user36935    cocos2d-x         C++            15047            1
42091  user36936         node  javascript             9508            2

In [6]:
cpr.shape

(42092, 5)

In [7]:
cpr.columns

Index(['user', 'project_name', 'prog_lang', 'pull_req_number', 'num_commits'], dtype='object')

In [8]:
cpr.dtypes

user               object
project_name       object
prog_lang          object
pull_req_number     int64
num_commits         int64
dtype: object

In [9]:
cpr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42092 entries, 0 to 42091
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user             42092 non-null  object
 1   project_name     42092 non-null  object
 2   prog_lang        42092 non-null  object
 3   pull_req_number  42092 non-null  int64
 4   num_commits      42092 non-null  int64
dtypes: int64(2), object(3)
memory usage: 1.6+ MB

In [10]:
type(cpr["num_commits"])

pandas.core.series.Series

In [11]:
int_columns = cpr.dtypes[cpr.dtypes == "int64"].index
int_columns

Index(['pull_req_number', 'num_commits'], dtype='object')

In [12]:
cpr[int_columns].head()

   pull_req_number  num_commits
0              122            1
1             3325            1
2             2128            2
3             2663            1
4             7901            1

In [13]:
cpr.describe()

       pull_req_number   num_commits
count     42092.000000  42092.000000
mean       4452.145681      3.824242
std        6152.304478     20.760123
min           1.000000      1.000000
25%         628.000000      1.000000
50%        2007.000000      1.000000
75%        5534.250000      2.000000
max       38174.000000    385.000000

In [14]:
cpr.num_commits.describe()

count    42092.000000
mean         3.824242
std         20.760123
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max        385.000000
Name: num_commits, dtype: float64

In [15]:
cpr.prog_lang.describe() #either way work.

count     42092
unique       17
top        ruby
freq       8147
Name: prog_lang, dtype: object